<h1>Create a New Recipe</h1>
<form action="/recipes" method="post">
<label for="name">
    <p>Recipe name: <input type="text" name="name"></p>
</label>
<label for="ingredients">
    <p>Ingredients: <input type="text" name="ingredients"></p>
</label>
<label for="cook_time">
    <p>Cook time: <input type="text" name="cook_time"></p>
</label>

<input type="submit" value="Submit">
</form>